<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ceiv.videopost">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.ceiv.AutoRestartApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--  -->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.HOME" /> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MainReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ceiv.START_APK" />
                <action android:name="com.ceiv.SCREEN_SHOT_FINISH" />
                <!-- <action android:name="android.intent.action.BOOT_COMPLETED"/> -->
            </intent-filter>
        </receiver>

        <service android:name="com.ceiv.videopost.HisenseMsg.MsgService"
            android:enabled="true"
            android:exported="true" />

        <service android:name="org.eclipse.paho.android.service.MqttService"
            android:enabled="true"
            android:exported="false" />

        <!-- 程序监控服务，单独在另一个进程运行 -->
        <service
            android:name="com.ceiv.ApplicationMonitorService"
            android:enabled="true"
            android:exported="false"
            android:process=":monitor" />

    </application>

</manifest>